# Backend
backend/log/*
backend/tmp/*
backend/storage/*
backend/config/master.key
backend/config/credentials/*.key
backend/.env*

# Mobile
mobile/node_modules/
mobile/.expo/
mobile/dist/

# OS
.DS_Store
*.swp

# IDE
.vscode/
.idea/
